PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGO_URI=mongodb://127.0.0.1:27017/flight-booking-app
JWT_SECRET=replace_this_with_a_long_secret
SESSION_SECRET=replace_this_if_using_sessions_later

AMADEUS_API_KEY=your_amadeus_api_key
AMADEUS_API_SECRET=your_amadeus_api_secret
AMADEUS_BASE_URL=https://test.api.amadeus.com

AVIATIONSTACK_KEY=your_aviationstack_key
AVIATIONSTACK_BASE_URL=https://api.aviationstack.com/v1

ADSBDB_BASE_URL=https://api.adsbdb.com/v1

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

FR24_API_TOKEN=your_flightradar24_api_token
FR24_API_BASE_URL=https://fr24api.flightradar24.com
FR24_DEFAULT_BOUNDS=6.0,68.0,37.5,97.5

USE_MOCK_EXTERNALS=true
